# yii console commands
/yii
/yii_test
/yii_test.bat

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor/autoload.php
/vendor/behat
/vendor/bin
/vendor/bower
/vendor/cebe
/vendor/codeception
/vendor/composer
/vendor/doctrine
/vendor/ezyang
/vendor/fzaninotto
/vendor/guzzlehttp
/vendor/myclabs
/vendor/phpdocumentor
/vendor/phpspec
/vendor/phpunit
/vendor/psr
/vendor/sebastian
/vendor/swiftmailer
/vendor/symfony
/vendor/webmozart
/vendor/yiisoft


# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant
